@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

:root {
    --bg-color-01: #000000;
    --bg-color-02: #ffffff;
    --bg-color-03: #960000;

    --color-01: #000000;
    --color-02: #ffffff;
    --color-03: #D21617;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--color-02);
    font-family: 'Kdam Thmor Pro', sans-serif;
}

body {
    background-color: var(--bg-color-01);
}

header {
    background-color: var(--bg-color-01);
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
}

li:hover {
    color: var(--color-03);
}

.logo {
    width: 150px;
    height: auto;
}

footer {
    height: 150px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--bg-color-03);
}

span {
    background-color: var(--bg-color-03);
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }
}